<div id="chat-container">
    <div id="chat-mac">
        <div id="output"></div>
        <div id="actions"></div>
    </div>
    <imput type="text" id="message" placeholder="Message"></imput>
    <button id="send">send</button>
</div>


<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="index.js" charset="utf-8"></script>